@charset "ISO-8859-1";

html, body {
	height: 90%;
	widows: 3;
	color: black;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	background-color: #f3c5d7;
	font-size: 13px;
}

h1, h2, h3 {
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.logo {
	margin-left: 20px;
	position: absolute;
}

.conteudo {
	overflow: hidden;
	position: absolute;
	bottom: 10xp;
}

.page-footer {
	bottom: 0;
	width: 100%;
}

#rodape {
	font-size: 1.5rem;
	position: relative;
	bottom: 0px;
}

.login {
	width: 400px;
	height: 300px;
	margin-top: 10%;
	margin-bottom: 10%;
	border: 2px solid #689f38;
	padding: 10px;
	background: #fff;
}

.cadastro-pessoa, .cadastro-login, .cadastro-convenio,
	.cadastro-solicitacao, .cadastro-profissao, .cadastro-permissao,
	.consulta, .cadastro-avaliacao, .cadastro-aplicacao {
	border-radius: 10px;
	padding: 50px;
	margin-top: 2%;
	background: #fff;
	background-color: #fff;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.lista-pessoas {
	padding: 1%;
	margin-top: 2%;
	background: #fff;
}

.lista {
	border-radius: 10px;
	padding: 50px;
	margin-top: 1%;
	background: #fff;
	background-color: #fff;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.redacao {
	font-size: 1.5rem;
	border-radius: 10px;
	padding: 1%;
	margin-top: 1%;
	background: #fff;
	background-color: #fff;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.error-button {
	padding: 1%;
	margin-top: 1%;
	width: 80px;
	height: 160px;
	background-color: #ff7979;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.link {
	color: #ff0006;
	text-decoration: none;
}

.link:hover {
	color: #ff0006;
	font-weight: bold;
}

.vermelho, .fc-event-skin {
	background: red !important;
	border-color: red !important;
}

.verde, .fc-event-skin {
	background: green !important;
	border-color: green !important;
}

.azul, .fc-event-skin {
	background: blue !important;
	border-color: blue !important;
}

.amarelo, .fc-event-skin {
	background: yellow !important;
	border-color: yellow !important;
	color: black !important;
}

.roxo, .fc-event-skin {
	background: purple !important;
	border-color: purple !important;
}

.laranja, .fc-event-skin {
	background: orange !important;
	border-color: orange !important;
}

.aqua, .fc-event-skin {
	background: aqua !important;
	border-color: aqua !important;
	color: black;
}